@model Eriador.Models.Data.Entity.User

<h2>Felhasználó törlése</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    @Html.ValidationSummary(true, null, new { @class = "text-danger" })

    <p>Biztosan törölni szeretné a <strong>@Model.UserName</strong> nevű felhasználót?</p>

    <a href="@Url.Action("EditUser", "People", new { id = Model.Id })" class="btn btn-default">Mégsem</a>
    <button type="submit" class="btn btn-danger">Törlés</button>
}